certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
clr_loader==0.2.7.post0
idna==3.10
linkify-it-py==2.0.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
platformdirs==4.3.8
pycparser==2.22
Pygments==2.19.1
pythonnet==3.0.5
requests==2.32.3
rich==14.0.0
textual==3.3.0
toga==0.5.1
toga-core==0.5.1
toga-winforms==0.5.1
travertino==0.5.1
typing_extensions==4.14.0
uc-micro-py==1.0.3
urllib3==2.4.0
