# Entorno virtual
venv/

# Archivos generados por PyInstaller
build/
dist/
*.spec

# Archivos de compilación personalizados
compilar
compilar.bat
compilar2
compilar2.bat

# Archivos de caché de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos temporales / logs
*.log
data_cache.json

# Configuración local / entornos
.env
.DS_Store
Thumbs.db
