
Screen {
    background: black;
    color: white;
}

NoticiaPanel {
    border: wide purple;
    padding: 1;
    width: 1fr;
    height: 20;
}

PrecioPanel {
    border: wide green;
    padding: 0 1;
    width: 25;
    height: auto;
}

Button {
    background: darkred;
    color: white;
    margin: 1;
}

#clock {
    height: 1;
    margin: 0;
    color: ansi_bright_yellow;
    text-align: center;
    background: rgb(30, 30, 30);
    border: none;
}

ScrollView {
    height: auto;
    min-height: 20;
}

Static {
    padding: 1 2;
    color: white;
    height: auto;
    min-height: 5;
}

#noticias-scroll {
    height: 1fr;
    overflow: auto;
}
